* {
	border: 1px dashed red;
	min-height: 10px;
}

body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 200px;
}

.postcard-body {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.body-left,
.body-right {
	padding: 10px;
}

.body-left p:first-child {
	margin-top: 0;
}

input {
	border: none;
	border-bottom: 1px solid gray;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: gray;
	padding: 5px;
}
